In [6]:
import pandas as pd
import seaborn
%matplotlib inline

In [7]:
#seaborn.tsplot([df3.sessions])

In [21]:
exac = pd.read_csv('../../../@broad/redux-170620-exac-daily-pageviews.csv', skiprows=6)
gnomad = pd.read_csv('../../../@broad/redux-170620-gnomad-daily-pageviews.csv', skiprows=6)

def format_google_csv(raw_df, name):
    dates = pd.to_datetime(raw_df['Day Index'])
    df = pd.DataFrame({ 
        'date'.format(name): dates, 
        '{}_pageviews'.format(name): raw_df['Pageviews'].map(lambda x: int(x.replace(',', ''))) 
    })
    # return df.set_index(df.date)student
    return df

exac_df = format_google_csv(exac, 'exac')
gnomad_df = format_google_csv(gnomad, 'gnomad')
combined = pd.merge_ordered(gnomad_df, exac_df, fill_method='zero')
combined = combined.fillna(value=int(0))
combined = combined.set_index(combined.date)
combined = combined['2014-10-13':'2017-06-09']
combined.to_json('../../../@broad/redux-170620-combine-pageviews.json', orient='records', date_format='iso')

In [40]:
weeks = combined.resample('W').sum()
weeks.reset_index().to_json('../../../@broad/redux-170620-combine-pageviews-weeks.json', orient='records', date_format='iso')

In [43]:
combined

                 date  gnomad_pageviews  exac_pageviews
date
2014-10-13 2014-10-13               0.0               4
2014-10-14 2014-10-14               0.0             258
2014-10-15 2014-10-15               0.0             422
2014-10-16 2014-10-16               0.0             577
2014-10-17 2014-10-17               0.0             168
2014-10-18 2014-10-18               0.0             224
2014-10-19 2014-10-19               0.0             654
2014-10-20 2014-10-20               0.0            8416
2014-10-21 2014-10-21               0.0           22010
2014-10-22 2014-10-22               0.0            7133
2014-10-23 2014-10-23               0.0            4576
2014-10-24 2014-10-24               0.0            4550
2014-10-25 2014-10-25               0.0             564
2014-10-26 2014-10-26               0.0            1012
2014-10-27 2014-10-27               0.0            4722
2014-10-28 2014-10-28               0.0            4021
2014-10-29 2014-10-29               0.0            4335
2014-10-30 2014-10-30               0.0            4507
2014-10-31 2014-10-31               0.0            3659
2014-11-01 2014-11-01               0.0             801
2014-11-02 2014-11-02               0.0             947
2014-11-03 2014-11-03               0.0            4201
2014-11-04 2014-11-04               0.0            4318
2014-11-05 2014-11-05               0.0            3930
2014-11-06 2014-11-06               0.0            3745
2014-11-07 2014-11-07               0.0            3904
2014-11-08 2014-11-08               0.0             745
2014-11-09 2014-11-09               0.0            1106
2014-11-10 2014-11-10               0.0            3328
2014-11-11 2014-11-11               0.0            3741
...               ...               ...             ...
2017-05-11 2017-05-11            7889.0           12768
2017-05-12 2017-05-12            5928.0           12531
2017-05-13 2017-05-13             810.0            3276
2017-05-14 2017-05-14            1561.0            3982
2017-05-15 2017-05-15            7921.0           15484
2017-05-16 2017-05-16            8447.0           15923
2017-05-17 2017-05-17            8613.0           15144
2017-05-18 2017-05-18            7720.0           13586
2017-05-19 2017-05-19            7382.0           13069
2017-05-20 2017-05-20            1073.0            1890
2017-05-21 2017-05-21            1942.0            2660
2017-05-22 2017-05-22            8143.0           13978
2017-05-23 2017-05-23            8670.0           13220
2017-05-24 2017-05-24            9069.0           13125
2017-05-25 2017-05-25            6896.0           12372
2017-05-26 2017-05-26            6668.0           10284
2017-05-27 2017-05-27            1378.0            2355
2017-05-28 2017-05-28            1484.0            2570
2017-05-29 2017-05-29            4518.0            8734
2017-05-30 2017-05-30            8044.0           13784
2017-05-31 2017-05-31            9114.0           12738
2017-06-01 2017-06-01            8170.0           12871
2017-06-02 2017-06-02            7715.0           10469
2017-06-03 2017-06-03             990.0            2058
2017-06-04 2017-06-04            1893.0            2467
2017-06-05 2017-06-05            7741.0           10482
2017-06-06 2017-06-06            8395.0           12936
2017-06-07 2017-06-07            9323.0           12531
2017-06-08 2017-06-08            8904.0           14606
2017-06-09 2017-06-09            8271.0           12411

[971 rows x 3 columns]